.basket-pay {
  display: none;
}
.basket-pay.active {
  margin-top: 50px;
  display: block;
}
.basket-pay__container {
  display: block;
  margin: 0px 15px;
  .basket-pay__title-center {
    display: flex;
    justify-content: center;
    p {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
    }
  }

}
.basket-pay__position {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .basket-pay {
    overflow: auto;
  }
  .basket-pay__position {
    display: flex;
    flex-wrap: wrap;

  }
  .basket-pay__item {
    flex: 0 1 33%;
  }
}
@media (max-width: 425px) {
  .basket-pay__position {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 20%;

  }
  .basket-pay__item {
    flex: 0 1 33%;
  }
}

.basket-pay__item {
  display: block;
  background-color: bisque;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  .basket-pay__block {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;

  }

}
.content.active {
  display: none;
}

.basket-pay__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 50px;
  text-align: center;
  .basket-pay__item__control{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-width: 0px;
    background-color: transparent;
    cursor: pointer;
  }
}
