@import 'color';

.container {
  max-width: 1385px;
  padding: 0px 15px;
  margin: 0px  auto;
}


/* content__grid */
.content__grid {
  display: flex;
  // background-color: rgb(196, 255, 215);
  margin-top: 26px;
}
.content__photo {
  flex: 0 1 50%;
}
.content__info {
  display: flex;
  flex: 0 1 50%;
  background-color: aquamarine;
}
.content__big-img {
  display: flex;
  flex: 0 1 50%;
  // background-color: blueviolet;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// .content__big-img:hover {
//   transition: all 0.3s;
//   transform: scale(0.9);
// }
.content__small-img {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  margin-top: 3.5%;
  margin-bottom: 53.06%;
  margin-left: 3.5%;
}
.content__a {
  display: flex;
  flex: 0 1 50%;

  margin-bottom: 7px;
  a {
    display: flex;
    flex: 0 1 50%;
  }
  img {
    display: block;

    height: 100%;
    width: 41%;
  }
}
