.footer {
  margin-top: 100px;
  margin-bottom: 200px;
}
.footer__section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: all 0.3s;
  a {
    list-style: none;
    text-decoration: inherit;
  }
}
.footer__buyers {
  display: flex;
  flex-direction: column;
  flex: 0 1 20%;
  padding: 10px;
  margin-left: 45px;
  h2 {
    font-size: 16px;
    color: $colorFont;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }
  p {
    margin-top: 13px;
  }
}
.footer__about-us {
  display: flex;
  flex-direction: column;
  flex: 0 1 20%;
  padding: 10px;
  h2 {
    font-size: 16px;
    color: $colorFont;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }
  p {
    margin-top: 13px;
  }
}
.footer__mail {
  display: flex;
  flex-direction: column;
  flex: 0 1 45%;
  padding: 10px;
  margin-right: 45px;
  h2 {
    font-size: 16px;
    color: $colorFont;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }
  }
.footer__input-1{
  padding: 15px;
  border: 0;
  border-bottom: 1px solid #C4C4C4;
  margin-top: 10px;
}
.footer__input-2 {
  cursor: pointer;
  background-color: #fff;
  margin-top: 40px;
  align-self: flex-end;
  display: inline-block;
  width: fit-content ;
  letter-spacing: 0.04em;
  border: 1px solid $colorFont;
  padding: 10px 25px;
}
.footer__message {
  p {
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width:769px) {
  .footer__buyers {
    margin-left: 0;
  }
  .footer__mail{
    margin-top: 50px;
    margin-right: 0;
  }
}
@media (max-width:568px) {
  .footer__section {
    flex-wrap: wrap;

  }
  .footer__buyers {
    flex: 0 1 40%;
    align-self: flex-start;
  }
  .footer__about-us {
    flex: 0 1 40%;
    align-self: flex-end;
  }
  .footer__mail{
    flex: 0 1 100%;
  }
}
