.busket-modal {
  z-index: 10;
  display: none;
  position: absolute;
  top: 0px;
  margin: 0 auto;
  transition: all 0.3s;

  margin: 0 auto;
  padding: 50px;
  P {
    border-radius: 10px;
    padding: 10px;
    background-color: aqua;
    width: fit-content;
  }
}
.busket-modal.active {
  display: block;
  top: 1px ;
}
