.busket-modal {
  position: absolute;
  top: 20%;
  left: 45%;

  margin: 0 auto;
  padding: 50px;
  P {
    border-radius: 10px;
    padding: 10px;
    background-color: aqua;
    width: fit-content;
  }
}
