.busket-modal {
  z-index: 10;
  display: none;
  position: absolute;
  top: 0px;
  margin: 0 auto;
  transition: all 0.1s;

  margin: 0 auto;
  padding: 50px;
  P {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(245, 246, 168);
    width: fit-content;
  }
}
.busket-modal.active {
  display: block;
  top: -1000px;
}

.favorites-modal {
  z-index: 10;
  display: none;
  position: absolute;
  top: 0px;
  margin: 0 auto;
  transition: all 0.1s;

  margin: 0 auto;
  padding: 50px;
  P {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(245, 246, 168);
    width: fit-content;
  }
}
.favorites-modal.active {
  display: block;
  top: -1000px;
}
